# Database Configuration
MYSQL_ROOT_PASSWORD=rootpassword
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=rootpassword

# Infrastructure Hosts
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379

# Service URLs
CUSTOMER_SERVICE_URL=http://localhost:8081
MERCHANT_SERVICE_URL=http://localhost:8082
PAYMENT_SERVICE_URL=http://localhost:8083
REFUND_SERVICE_URL=http://localhost:8084
NOTIFICATION_SERVICE_URL=http://localhost:8085
AUDIT_SERVICE_URL=http://localhost:8086
